.booth {
    width:400px;
    background-color:black;
    border:10px solid gray;
    margin:0 auto;
}

.booth-capture-button{
    display:block;
    margin:10px 0;
    padding:10px 20px;
    background-color: gray;
    color: #fff;
    text-align: center;
    text-decoration: none;
}